{% extends "base.html" %}

{% block content %}

<div class="todo-container">
    <div class="todo-search">
        <form action="" method="POST">

            {% comment %} <input type="text" placeholder="Добавить задачу"/> {% endcomment %}
            {% csrf_token %}
            {{form.title}}
            <button>Добавить задачу</button>
        </form>
    </div>

    {% if tasks %}
    <div class="todo-list">
        {% for task in tasks %}
        <div class="todo-list-item">
            <div class="task">
                <input type="checkbox"/>
                <p>{{task.title}}</p>
            </div>

            <div class="btn-container">
                <a href="{% url 'task-update' task.id %}" class="edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="{% url 'task-delete' task.id %}" class="del">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}